body {
  margin:0;
  background:#ece5dd;
  font-family: Arial;
}

.container {
  max-width:500px;
  margin:auto;
  background:white;
  height:100vh;
  display:flex;
  flex-direction:column;
}

.title {
  text-align:center;
  padding:15px;
  background:#075E54;
  color:white;
  font-size:22px;
}

.login-box, .chat-box {
  padding:15px;
}

input {
  width:100%;
  padding:12px;
  margin:8px 0;
  border-radius:5px;
  border:1px solid #ccc;
}

button {
  width:100%;
  padding:12px;
  background:#25D366;
  color:white;
  border:none;
  border-radius:5px;
  font-size:16px;
}

#messages {
  background:#f0f0f0;
  height:65vh;
  overflow-y:auto;
  padding:10px;
}

.bubble {
  max-width:75%;
  background:#dcf8c6;
  padding:10px;
  margin:8px 0;
  border-radius:10px;
}

.bubble.me {
  background:#34B7F1;
  color:white;
  margin-left:auto;
}

.input-area {
  display:flex;
  gap:10px;
}

.input-area input {
  flex:1;
}

@media(max-width:500px){
  .container { width:100%; }
}

